{% extends "templates/_catalog.html" %}

{% block content %}
  <p>
    We are slowly ramping up our release schedule. Currently trying to learn more about things you, the viewer, are interested in seeing from the site (all input welcome) and reaching out to artists we know and respect (check out #featuredartist series on our social media channels).
  </p>
  <p>
    Please enjoy the micro-releases below. More great work coming soon!
  </p>

  <ul>
    {% for artwork in artwork_list["micro-release"] %}
      <li>{{ artwork.id }}</li>
    {% else %}
      <li>Micro-releases of artwork coming soon.</li>
    {% endfor %}
  </ul>

  <p>
    Feel free to ping us via email or social media regarding ideas, wishes and suggestions. To get the latest updates on artwork releases, please subscribe to our mailing list.
  </p>
  {% include "partials/_email_signup.html" ignore missing %}
{% endblock %}
