<footer class="footer">
  <div class="container hidden-xs">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="https://www.facebook.com/Infinite-Industries-1041120505976874/" target="_new" class="social-media-i"><i class="fa social-icon fa-facebook-official fa-3x"></i></a>
        <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new" class="social-media-i"><i class="fa social-icon fa-instagram fa-3x"></i></a>
        <a href="https://twitter.com/1nfinite_1" target="_new" class="social-media-i"><i class="fa social-icon fa-twitter fa-3x"></i></a>
        <a href="https://medium.com/infinite-industries" target="_new" class="social-media-i"><i class="fa social-icon fa-medium fa-3x"></i></a>
      </div>
    </div>
  </div>
  <div class="container hidden-sm hidden-md hidden-lg">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="https://www.facebook.com/Infinite-Industries-1041120505976874/" target="_new" class="social-media-i"><i class="fa social-icon fa-facebook-official fa-3x"></i></a>
        <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new" class="social-media-i"><i class="fa social-icon fa-instagram fa-3x"></i></a>
        <a href="http://infinite.industries"><img src="/images/site_logo.png" width="40px" height="40px" style="margin-right:30px;margin-bottom:10px;"></a>
        <a href="https://twitter.com/1nfinite_1" target="_new" class="social-media-i"><i class="fa social-icon fa-twitter fa-3x"></i></a>
        <a href="https://medium.com/infinite-industries" target="_new" class="social-media-i"><i class="fa social-icon fa-medium fa-3x"></i></a>
      </div>
    </div>
  </div>
</footer>
