{% extends "templates/_default.html" %}

{% block content %}
    <p>
      Check out <a href="/users">User Content</a>
      and <a href="/artworks/artwork/micro-release/empty-and-full-ming-hong">artworks</a> and <a href="/artworks/catalog">Catalog</a>
    </p>
    <p>
      <a href="/signup">signup</a> |
      <a href="/confirmed-signup">confirmed signup</a> |
      <a href="/login">login</a> |
      <a href="/logout">logout</a> |
      <a href="/login-error">login-error</a>
    </p>

    <button role="button" onclick="signin()" class="btn btn-default btn-infinite-default">Sign In</button>


<script>
    var lock = new Auth0Lock('{{env.AUTH0_CLIENT_ID}}', '{{env.AUTH0_DOMAIN}}');
    function signin() {
      lock.show({
          callbackURL: '{{env.AUTH0_CALLBACK_URL}}'
        , signupLink: '/signup'
        , responseType: 'code'
        , authParams: {
          scope: 'openid name email picture'
        }
        , dict: {
            signin:{
              "signupText": "Request an Invite"
            }
        }
      });
    }
  </script>

{% endblock %}
