{% extends "templates/_default.html" %}

{% block content %}
    <p>
      Check out <a href="/users">User Content</a>
      and <a href="/artworks/artwork/micro-release/empty-and-full-ming-hong">artworks</a> and <a href="/artworks/catalog">Catalog</a>
    </p>
    <p>
      <a href="/signup">signup</a> |
      <a href="/confirmed-signup">confirmed signup</a> |
      <a href="/login">login</a> |
      <a href="/logout">logout</a> |
      <a href="/login-error">login-error</a>
    </p>
{% endblock %}
