{% extends "templates/_default.html" %}

{% block content %}

  <p>To request an account, please provide the following information</p>

    <div id="request_account_fields" class="text-center">
      <div class="row signup-form-container">
        <div class="col-sm-8 col-sm-offset-2">
          <validator name="validation1">
            <form role="form" class="text-left">
              <div class="form-group">
                <label for="user_name">Your Name (required):</label><br>
                <input type="text" id ="user_name" placeholder="your name" v-bind:class="[trackNameValue ? 'valid-border' : 'invalid-border']" v-model="account_request.user_name" v-validate:username="['required']">
              </div>
              <div class="form-group">
                <label for="user_email">Email address (required): </label><br>
                <input type="text" id ="user_email" placeholder="your email" v-bind:class="[trackEmailValue ? 'valid-border' : 'invalid-border']" v-model="account_request.user_email" v-validate:address="['user_email']">
                <!-- <div v-show="$validation1.address.user_email">Need valid email address format.</div> -->
                <!-- {% raw %}{{email_is_valid}}{% endraw %} -->
              </div>
              <div class="form-group">
                <label for="referral_source">How did you hear about us? (optional):</label>
               <!-- <input type="text" id= "referral_source" placeholder="..." name="referral_source" v-model="account_request.referral_source"> -->
               <textarea id= "referral_source" placeholder="..." name="referral_source" v-model="account_request.referral_source" rows="4" cols="30"></textarea>
             </div>
             <div class="checkbox">
                <label><input type="checkbox" id="email_signup" v-model="account_request.email_signup"> Would you like to recieve our newsletter? <br />(once or twice a month only)</label>
            </div>
            </form>
          </div>
        </div>
        <button role="button" class="btn btn-default btn-infinite-default" v-on:click="sendData" v-bind:disabled="activeButton">Send Request</button>

        <div v-if='failed_user_signup'>
          <p>
            Unfortunately, we were not able to process your request.
            Please email us directly at <a href="mailto:info@infinite.industries">info[@t]infinite[d0t]industries</a>.
          </p>
        </div>
        </div>
      </div>
{% endblock %}

{% block scripts_and_libraries %}
  <script src="https://npmcdn.com/vue@latest/dist/vue.js"></script>
  <script src="https://npmcdn.com/vue-resource@0.9.3/dist/vue-resource.min.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.validator/2.1.5/vue-validator.min.js"></script>
  <script src="/javascripts/request_account.js"></script>
{% endblock %}
