//will expand to make more general tool in the future

{% macro lopsem(numParagraphs='1') %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel libero quis nisl laoreet vestibulum. Nunc sed eros maximus, venenatis tellus sit amet, bibendum nibh. Quisque condimentum vehicula tortor vel efficitur. Praesent malesuada urna nisl. Aliquam sodales turpis id rutrum iaculis. Mauris vestibulum est eu vehicula maximus. Donec mattis turpis ac libero viverra, eget malesuada est ornare. Sed quis enim eget massa bibendum cursus. Sed id sem quis ex pretium sagittis in vel enim. Nunc feugiat porttitor metus, vel convallis eros auctor at. Suspendisse aliquam, sapien quis ullamcorper ullamcorper, massa ante pellentesque eros, vel sagittis tortor tortor sed sem. Suspendisse potenti. Fusce gravida luctus blandit. Aenean egestas turpis in nulla lacinia, vel commodo lacus varius. Suspendisse lacinia dignissim mi ac aliquet.
{% endmacro %}
